
body {
	background-color: #282c34;
}

:root {
  --check-primary: #61afef;
  --check-secondary: #ef596f;
}

.button {
  display: inline-block;
  border-radius: 8px;
  position: relative;
  background: var(--check-primary, #61afef);
  border: none;
  color: #282c34;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  transition: all 0.1s;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:after {
  content: "";
  background: var(--check-secondary, #ef596f);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.block_div {
  float: left;
  width: 100px;
}

.block_div_3 {
  float: left;
  width: 150px;
}

.block_div_2 {
  margin-left: 105px;
  width: 110px;
}

.quality_popup {
  width: 100px;
}

.clearfix {
  clear:both;
}

.x {
  background: var(--check-secondary, #ef596f);
}

.x:after {
  background: var(--check-primary, #61afef);
}

.x span:after {
  left: -20px;
  right:auto;
  content: '\00ab';
}

.x:hover span {
  padding-right: 0;
  padding-left: 25px;
}

.x:hover span:after {
  left: 0;
  right:auto;
  opacity: 1;
}

